body{
    font-family: 'Tangerine', cursive;
    font-family: 'EB Garamond', serif;
    font-family: 'Tangerine', cursive;
}
*{
    padding: 0px;
    margin: 0px;
}
header{ 
       display: grid ;
       background-color: #b64600;
       color: rgb(255, 255, 94) ;
       height: 200px;
       font-size: 50px;
       display:flex;
       justify-content: center;
       margin-bottom: 100px;
       align-items: center;
}
h1{
justify-content: center;
margin-bottom: 100px;
}
nav{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgb(213, 160, 0);
    font-size:20px;
    height: 100vh;
    padding: 10px;
    position: fixed;
}
nav a{
    font-size: 60px;
    text-decoration: none;
    color: rgb(222, 222, 62);
    cursor: pointer;
}
.bi-list{
    cursor: pointer;
    width: 50px;;
    height: 50px;
}
.hidden{
    display: none;
}
.button{
    padding: 5px;
    margin: 5px 5px 5px 4px;
    outline: 0;
    background-color: transparent;
    border: 0;
}
.menu{
    background-color: #b64600;
}
.form{
    background-color: #b64600;
    color: rgb(222, 222, 62);
    align-items: center;
    width: 1000px;
    height: 75px;
    font-size: 25px;
}
.input2{
    display:none;
}
.formContorn{
background-color: #b64600;
width: 1525px;
height: 530px;
align-items: center;
}
.button2{
    height: 50px;
    width: 500px;
    background-color: yellow;
    color: #b64600;
}